html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.flight_form h3{
    width:100%;
}

.block {
    margin:0px auto;
    margin-top:20px;
    border:1px solid #666666;
    width:60%;
    padding:10px;
}

.left_block{
    float:left;
    width:500px;
}

.right_block{
    float:right;
    width:200px;
    text-align: right
}

.clear{
    clear:both;
}
.line{
    display: block;
}